@use '../../app/globals.scss' as *;

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  gap: 2rem;

  @include tablet {
    padding: 3rem 2rem;
  }

  @include mobile {
    padding: 2rem 1rem;
  }

  &__heading {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.88px;
    font-family: inherit;
    color: $text-color-primary;
    text-align: center;

    @include tablet {
      font-size: 40px;
    }
  }

  &__list {
    max-width: 800px;
  }

  &__mailto {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    background-color: $background-color-tertiary;
    border-radius: 6px;
    max-width: 800px;
  }

  &__mailto-title {
    font-family: inherit;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $text-color-primary;
  }

  &__mailto-text {
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: $text-color-secondary;
  }
}
