@use '../../app/globals.scss' as *;

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  gap: 2rem;

  @include tablet {
    padding: 3rem 2rem;
  }

  @include mobile {
    padding: 2rem 1rem;
  }

  &__heading {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.88px;
    font-family: inherit;
    color: $text-color-primary;
    text-align: center;

    @include tablet {
      font-size: 40px;
    }
  }

  &__list {
    max-width: 800px;
  }
}
