@use '../globals.scss' as *;

.about-page {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  &__text {
    font-size: 24px;
    text-align: center;
    letter-spacing: -0.48px;
    color: #424242;
    font-family: inherit;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__content-container {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    gap: 80px;

    @include tablet {
      flex-direction: column;
      gap: 32px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__filter-button {
    padding: 8px 16px;
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    color: $text-color-secondary;
    background-color: #f5f5f5;
    border-radius: 12px;
    white-space: nowrap;

    &--active {
      background-color: #ebf2fc;
      color: #15345e;
    }
  }

  &__card-container {
    display: flex;
    align-items: center;
    row-gap: 80px;
    column-gap: 28px;
    flex-wrap: wrap;

    @include tablet {
      width: 100%;
      justify-content: center;
    }

    @include mobile {
      flex-direction: column;
      gap: 0px;
    }
  }
}

.join-us-cta-card {
  max-width: 560px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-radius: 6px;
  background-color: #f4f8fc;
  margin: 60px auto 0;

  @include mobile {
    max-width: 100%;
    margin: 32px 0;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
  }

  &__title {
    color: #0d3c6b;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
  }

  &__text {
    color: #575757;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
  }

  &__button {
    text-transform: none;

    @include mobile {
      width: 100%;
    }
  }
}
