@use '../globals.scss' as *;

.code-of-conduct {

  @include tablet {
    padding: 0 6.125rem;
  }

  @include mobile {
    padding: 0 1rem;
  }

  &__heading-container {
    padding: 6rem 0;

    @include tablet {
      padding: 3rem 0;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }

  &__heading {
    font-family: inherit;
    font-size: 2.75rem;
    line-height: 3.4375rem;
    font-weight: 600;
    color: $heading-color-primary;
  }

  &__main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding: 4rem 0;

    @include tablet {
      gap: 2rem;
      padding: 3rem 0;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include tablet {
      gap: 1.5rem;
    }
  }

  &__sub-heading {
    font-family: inherit;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
    color: $navbar-text-color;

    @include tablet {
      font-size: 1.75rem;
      line-height: 2.1875rem;
    }

    @include mobile {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  &__text {
    font-family: inherit;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    font-weight: 500;
    color: $navbar-text-color;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__list-item {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: $navbar-text-color;

    @include tablet {
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
  }

  &__list-text {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    color: $navbar-text-color;

    @include tablet {
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
  }

  &__tertiary-heading {
    font-family: inherit;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    font-weight: 700;
    color: $navbar-text-color;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }

    @include mobile {
      font-size: 1.25rem;
      line-height: 1.5625rem;
    }
  }

  &__reporting-template {
    max-width: 800px;
    padding: 1rem;
    box-shadow: 0px 10px 20px -3px rgba(16, 24, 40, 0.10), 0px 4px 6px -4px rgba(16, 24, 40, 0.10);
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__note {
    padding: 6rem 0;

    @include tablet {
      padding: 3rem 0;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }

  &__note-text {
    font-family: inherit;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    font-weight: 600;
    color: $text-color-primary;
    padding-top: 1rem;
    border-top: 1.6px solid $divider-color-secondary;
  }
}
