@use '../../globals.scss' as *;

h1,
h2,
p {
  color: $text-color-primary;
}

div.project-box {
  display: flex;
  flex-flow: column nowrap;
  gap: 2em;
  padding: 1em;
  & > section {
    box-shadow: 0px 1px 2px -1px #1018281a;
    box-shadow: 0px 1px 3px 0px #1018281a;
    padding: 0.25em;
    border-radius: 12px;

    & > div {
      box-shadow: 0px 1px 2px -1px #1018281a;
      box-shadow: 0px 1px 3px 0px #1018281a;
      margin: 1em;
      padding: 1em;
      border-radius: 12px;
    }
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  div.project-banner {
    h1 {
      font-size: 36px;
      font-weight: 700;
    }

    &__body {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      gap: 32px;
      font-size: 28px;
      font-weight: 400;

      p {
        width: 50%;

        @include tablet {
          font-size: 24px;
          width: 100%;
        }
      }
      img {
        width: 45%;
        height: auto;
        @include tablet {
          width: 50%;
          padding-bottom: 1em;
        }
      }
    }
  }

  div.project-page-overview {
    div.looking-for-container {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;

      span.looking-for-item {
        padding: 8px 16px;
        background-color: $primary-50;
        border-radius: 12px;
        font-weight: 600;
        line-height: 30px;
        color: $primary-color;
      }
    }
  }

  div.project-banner {
    a.join-us {
      &__button {
        background-color: $button-color-primary;
        width: 200px;
        height: 44px;
        text-transform: none;
        font-family: inherit;

        @include mobile {
          width: 160px;
          height: 32px;
        }
      }
    }
  }
}
