@use '../globals.scss' as *;

.project-page-container {
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include mobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__heading {
    text-align: center;
  }

  &__cards-container {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__status-label {
    position: absolute;
    top: 48px;
    right: 16px;
    color: white;
    border-radius: 6px;
  }


}
