@use '../globals.scss' as *;

.project-page-container {
  padding-bottom: 6rem;

  @include tablet {
    padding-bottom: 3rem;
  }

  @include mobile {
    padding-bottom: 2rem;
  }
}

.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__banner {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @include tablet {
      padding: 3rem 0;
    }

    @include mobile {
      padding: 2rem 0;
    }
  }

  &__heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  &__heading {
    text-align: center;
  }

  &__sub-heading {
    font-family: inherit;
    font-size: 1.75rem;
    line-height: 2.1875rem;
    color: $text-color-primary;

    @include tablet {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  }

  &__button-container {
    margin-top: 16px;
    display: flex;
    gap: 1rem;

    @include mobile {
      flex-direction: column;
      width: 100%;
      margin-top: 0;
    }
  }

  &__button {
    text-transform: none;
    font-family: inherit;
    min-width: 184px;

    @include tablet {
      min-width: 230px;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__cards-container {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__status-label {
    position: absolute;
    top: 48px;
    right: 16px;
    color: white;
    border-radius: 6px;
  }


}
