@use '../../app/globals.scss' as *;

* {
  font-family: inherit;
}

body {
  .project-card {
    min-width: 275px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    @include tablet {
      width: 100%;
      min-width: 100%;
    }

    &--home-page {
      @include tablet {
        width: 655px;
      }

      @include mobile {
        width: 100%;
      }
    }
  }

  .project-card-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }

  .project-link-parent {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }

  .project-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: $alt-text-color-primary;
  }

  .project-card-media {
    padding: 56.25% 0 0 0;
  }

  .project-card-buttons {
    margin-top: auto;
  }
}
