@use '../../app/globals' as *;

.core-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 6rem;
  padding-bottom: 6rem;

  @include tablet {
    flex-direction: column;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    @include tablet {
      gap: 1.5rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .core-value__icon-container {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .core-value__icon {
    width: 100%;
    height: 100%;
  }

  &__item-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item-title {
    color: $heading-color-secondary;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.56px;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__item-detail {
    color: $text-color-secondary;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 500;

    @include tablet {
      font-size: 1.125rem;
    }
  }

  &__image-container {
    @include tablet {
      padding: 1rem;
      max-width: 565px;
      max-height: 391px;
    }
  }

  &__image {
    @include tablet {
      width: 100%;
      height: 100%;

    }
  }
}
