@use '../../app/globals.scss' as *;

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 220px;
  height: 492px;

  @include mobile {
    height: 464px;
    width: 100%;
  }

  &__image {
    border-radius: 6px;
    width: 100%;
    margin-bottom: 16px;
    height: 250px;
    object-fit: cover;
    object-position: center;

    @include mobile {
      max-width: 358px;
    }
  }

  &__card-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__card-title {
    color: var(--Neutral-900, #424242);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__card-text {
    color: var(--Neutral-500, #9E9E9E);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__card-link-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__link {}

  &__icon {
    width: 24px;
    height: 24px;
  }

}
