@use '../../app/globals.scss' as *;

.member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 220px;
  height: 492px;

  @include mobile {
    height: 464px;
    width: 100%;
  }

  &__link-wrapper {
    text-decoration: none;
    cursor: pointer;
  }

  &__image {
    border-radius: 6px;
    width: 100%;
    margin-bottom: 1rem;
    height: 250px;
    object-fit: cover;
    object-position: center;

    @include mobile {
      max-width: 358px;
    }
  }

  &__card-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__card-title {
    color: $heading-color-primary;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__card-text {
    color: $team-profile-text-color;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__card-link-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

}
