@use '../../app/globals' as *;

.header-container {
  padding: 12px 0;
  box-shadow:
    0px 4px 6px -1px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 80px;

  @include mobile {
    flex-direction: column;
    gap: 16px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      width: 100%;
    }
  }

  &__menu-icon {
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__logo-container {}

  &__logo {}

  &__navbar-container {
    display: flex;

    &--close {
      @include mobile {
        display: none;
        height: 0;
      }


    }
  }

  &__navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 29px;

    @include mobile {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__navbar-item {}

  &__navbar-link {
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    color: #15345E;
  }

  &__menu-icon {
    border: 1.2px solid #BEBEBE;
    border-radius: 6px;
  }
}

// body {
//   .mobile-menu-btn {
//     display: none;

//     @include globals.mobile {
//       display: inherit;
//     }
//   }

//   .nav__header {
//     @include globals.mobile {
//       display: none;
//     }

//     display: flex;
//     flex-flow: row nowrap;
//     gap: 2em;
//   }

//   .nav__list {
//     display: inline;
//     text-decoration: none;
//     color: globals.$primary-color;
//     font-weight: 500;

//     a,
//     a:visited,
//     a:hover,
//     a:active {
//       color: inherit;
//       text-decoration: none;
//     }
//   }

//   .header-outer-box {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     box-shadow:
//       0px 4px 6px -1px rgba(16, 24, 40, 0.1),
//       0px 2px 4px -2px rgba(16, 24, 40, 0.1);
//     padding: 1.2rem 2rem;
//     border-color: globals.$tertiary-color;
//     gap: 3.33em;

//     .title-link {
//       transition: opacity 0.25s ease-in-out;

//       &:hover {
//         opacity: 0.25;
//       }
//     }

//     @include globals.mobile {
//       justify-content: space-between;
//     }
//   }

//   .header-inner-box {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     row-gap: 0.4rem;
//     align-items: flex-start;

//     @include globals.mobile {
//       width: auto;
//     }
//   }

//   .header-title {
//     font-size: 28px;
//     font-weight: 800;
//     color: inherit;
//     text-decoration: none;
//   }

//   .header-nav {
//     display: flex;
//     align-items: center;
//     column-gap: 0.4rem;
//     font-weight: 600;
//   }

//   .header-tab {
//     color: globals.$primary-color;
//     cursor: pointer;
//     border-radius: 6px;
//     padding: 0.4rem 0.8rem;
//     transition: all 240ms cubic-bezier(0.4, 0.4, 0.4, 0.4);

//     &:hover {
//       transform: translateY(0.4rem);
//       background-color: globals.$hover-color;
//       color: globals.$secondary-color;
//     }

//     &:active {
//       transform: scale(0.9) translateY(0.4rem);
//     }

//     .Mui-selected {
//       color: globals.$primary-color;
//     }

//     @include globals.mobile {
//       a {
//         text-decoration: inherit;
//         color: inherit;
//       }
//     }
//   }
// }
