@use '../../app/globals' as *;

.header-container {
  padding: 12px 0;
  box-shadow:
    0px 4px 6px -1px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.1);
}

.header {
  display: flex;
  align-items: center;
  gap: 80px;

  @include tablet {
    flex-direction: column;
    gap: 16px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      width: 100%;
    }
  }

  &__menu-icon {
    display: none;

    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo-container {
    line-height: 0;
  }

  &__logo {}

  &__navbar-container {
    display: flex;
    transition: all .2s;

    @include tablet {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    &--close {
      @include tablet {
        display: none;
        height: 0;
      }


    }
  }

  &__navbar {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 29px;

    @include tablet {
      flex-direction: column;
      gap: 24px;
    }

  }

  &__navbar-item {}

  &__navbar-link {
    text-decoration: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    color: #15345E;
    padding: 7px 0px;
    line-height: 30px;
    border-bottom: 3.6px solid #fff;
    transition: all .2s ease-in-out;
    letter-spacing: 0;


    &--active {
      border-bottom: 3.6px solid #24589F;
      color: #24589F;
    }
  }
}
