@use '../globals.scss' as *;

.join-us {

  &__heading {
    &--primary {
      font-weight: 700;
    }

    &--secondary {
      font-weight: 600;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__text {
    font-family: inherit;
    font-size: 1.75rem;
    line-height: 2.1rem;
    color: $heading-color-secondary;
  }

}

.join-us-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 6rem 0;

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__button-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2.25rem;
  }
}
